body>.container {
	width:1280px;
	border:1px solid red;
	font-size:0.9em;
}

#bandeautop {
	background-image:url('../images/top.png');
	height:214px;
}

.navbar-nav, .uppercase {
	text-transform:uppercase;
}

.articles div {
	height:330px;
	overflow-y:hidden;
}

.articles article h4 {
	background-color:#f35a20;
	color:#ffffff;
	padding:4px;
	font-size:1.1em;
	display:inline-block;
}

.articles article .badge {
	background-color:#f35a20;
}